<div class = "container">
    <div class = "jumbotron">
        <h1 class = "display-4">About Me </h1>

        <div class= "row">
            <p style="text-align: justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque ornare aenean euismod elementum. Auctor neque vitae tempus quam pellentesque nec nam aliquam sem. Eget velit aliquet sagittis id. Nunc congue nisi vitae suscipit. Augue mauris augue neque gravida in fermentum. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus. Interdum velit euismod in pellentesque. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Eget mi proin sed libero enim sed faucibus turpis. Eget arcu dictum varius duis at consectetur lorem. Volutpat sed cras ornare arcu dui vivamus arcu felis. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa.


            <br/>
            <br/>
            Eget egestas purus viverra accumsan in. Quis auctor elit sed vulputate mi sit amet. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Augue ut lectus arcu bibendum at. Aliquam etiam erat velit scelerisque in. Urna neque viverra justo nec ultrices dui. Ultrices dui sapien eget mi proin sed libero. Eget arcu dictum varius duis at consectetur lorem donec massa. Nullam vehicula ipsum a arcu cursus vitae congue mauris. Sagittis aliquam malesuada bibendum arcu vitae elementum. Gravida cum sociis natoque penatibus et magnis dis parturient montes. Amet consectetur adipiscing elit duis tristique sollicitudin nibh. Fermentum leo vel orci porta non pulvinar neque laoreet. Suspendisse sed nisi lacus sed viverra tellus. Fermentum dui faucibus in ornare. Massa eget egestas purus viverra.
            </p>
            <hr class="my-4"/>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Left</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
        </div>
    </div>
</div>